{% extends "base.html" %}

{% block title %}
    {{ exp }}
{% endblock %}

{% block content %}
    Tracks: N/A
    
    <table>
        <tr>
            <th>Granule</th>
            <th>Checked</th>
            <th>Ships</th>
            <th>Tracks</th>
            <th>Masks</th>
            <th>Notes</th>
        </tr>
        {% for item in data %}
            <tr>
                <td><a href={{ url_for("image", image_name=item[1], res='hr', exp=exp) }}>{{item[1]}}</a></td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[4]}}</td>
                <td>{{item[5]}}</td>
                <td>{{item[6]}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
