<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
         .img-comp-container {
            position: relative;
            height: {{ height }}px;
         }
         .img-comp-img{
             position: absolute;
             z-index: 10;
         }
         #myCanvas{
             position: absolute;
             z-index:20;
         }
         #guideLayer{
             position: absolute;
             z-index:21;
         }
        </style>
    </head>
    <body onload="InitThis();">
        <script>
         function drawImage() {
             var image = new Image();
             image.src = "{{ url_for('static', filename=mask_name) }}";
             $(image).load(function () {
                 ctx.drawImage(image, 0, 0, {{width}}, {{height}});
                 cPush();
             });    
         };
         </script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript" src={{ url_for('static', filename="JsCode.js") }}></script>

        <div id="satImg" class="img-comp-container">
            <div id='imgCont' class="img-comp-img">
                <img id='imgDMP'
                     src={{ url_for('static', filename=img_rgb) }}
                         width="{{ width }}" height="{{ height }}"
                     data-number-composites={{ composites|length }}
                     data-img0={{ url_for('static', filename=img_rgb) }}
                     {% for comp in composites %}
                         data-img{{ loop.index }}={{ url_for('static', filename=comp) }}
                     {% endfor %}>
            </div>
            <canvas id="myCanvas" width="{{ width }}" height="{{ height }}"></canvas>
            <svg id="guideLayer" width="{{ width }}" height="{{ height }}"></svg>
        </div>
        
        <div id='drawOptions'>
            Line width : <select id="selWidth">
                <option value="1" selected="selected">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="5">5</option>
                <option value="9">9</option>
                <option value="15">15</option>
            </select>
            <button onclick="javascript:cUndo();return false;">Undo</button>
            <button onclick="javascript:cRedo();return false;">Redo</button>
            <button onclick="javascript:saveImage();return false;">Save Mask</button>
            <button onclick="javascript:$('#myCanvas').toggle();return false;">Toggle Mask</button>
        </div>

        <div id='imageOptions' data-image="{{image_name}}">
            <label for="imageCheck">Checked</label>
            <input id="imageCheck" type="checkbox" checked>

            <label for="imageNotes">Notes: </label>
            <input id="imageNotes" type="text" placeholder="{{ image_notes }}">

            <input id="imageCompleteBtn" type="button" value="Image Complete" data-image="{{ image_name }}" data-exp="{{ exp }}"/>

            <a href="{{ url_for('image', res=res, image_name=next_image, exp=exp) }}">Next image</a>

            <a href="{{ url_for('exp_info', exp=exp) }}">Experiment Index</a>
        </div>

        <script>
            $('#imageNotes').val('{{ image_notes}}');
        </script>

    </body>
</html>
