{% extends "base.html" %}

{% block title %}
    {{ exp }}
{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>Experiment</th>
            <th>Type</th>
            <th>Granules</th>
            <th>Checked</th>
            <th>Objects</th>
            <th>Tracks</th>
            <th>Mask Percentage</th>
        </tr>
        {% for item in data %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td><a href={{ url_for("exp", exp=item[0]) }}>{{item[2]}}</a></td>
                <td><a href={{ url_for("unchkexp", exp=item[0]) }}>{{item[3]}}</a></td>
                <td>{{item[4]}}</td>
                <td>{{item[5]}}</td>
                <td>{{item[6]}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
