<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
         .img-comp-container {
            position: relative;
            height: 1350px;
         }
         .img-comp-img{
             position: absolute;
             z-index: 10;
         }
         #myCanvas{
             position: relative;
             z-index:20;
         }
         /* #options{
            position: relative;
            z-index: 10;
          */}
        </style>
        
    </head>
    <body onload="InitThis();">
        <script>
         function drawImage() {
             var image = new Image();
             image.src = "{{ url_for('static', filename='contrail_masks/CON.2017001.1155T.v1.mask.png') }}";
             $(image).load(function () {
                 ctx.drawImage(image, 0, 0, 2030, 1350);
                 cPush();
             });    
         };
         </script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript" src={{ url_for('static', filename="JsCode.js") }}></script>

        <div id="satImg" class="img-comp-container">
            <div id='imgCont' class="img-comp-img">
                <img id='imgDMP'
                     src={{ url_for('static', filename="contrail_masks/CON.2017001.1155T.v1.png") }}
                     width="2030" height="1350">
            </div>
            <canvas id="myCanvas" width="2030" height="1350"></canvas>
        </div>
        
        <div id='options'>
            Line width : <select id="selWidth">
                <option value="1">1</option>
                <option value="3">3</option>
                <option value="5">5</option>
                <option value="7">7</option>
                <option value="9" selected="selected">9</option>
                <option value="11">11</option>
            </select>
            <button onclick="javascript:cUndo();return false;">Undo</button>w
            <button onclick="javascript:cRedo();return false;">Redo</button>
            <button onclick="javascript:saveImage();return false;">Save Mask</button>
            <button onclick="javascript:$('#myCanvas').toggle();return false;">Toggle</button>
        </div>
    </body>
</html>
